[Unit]
Description=rapid spam filtering system
After=nss-lookup.target network-online.target
Documentation=https://rspamd.com/doc/

[Service]
User=rspamd
Group=rspamd
NonBlocking=true
LimitNOFILE=1048576
RuntimeDirectory=rspamd
StateDirectory=rspamd
LogsDirectory=rspamd
PIDFile=%t/rspamd/rspamd.pid
ExecStart=/usr/bin/rspamd -c %E/rspamd/rspamd.conf -f -p %t/rspamd/rspamd.pid
ExecReload=/bin/kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
